body{
    background-color: rgb(2, 2, 85);
}
header{
    background-color: rgb(3, 0, 0);
}

.cabecalho .container{
        display: flex;
        align-items: center;
        height: 150px;
        font-family:courier,arial,helvetica;
}

.tituloCabecalho{
    width: 15%;
    margin-left: 15px;
    color: rgb(3, 74, 207);
    font-size: 45px;
    
}

.navegacaoCabecalho{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.itemNavegacao{
    padding: 25px;
    color: rgb(2, 41, 218);
    font-size: 20px;
}
.itemNavegacao:hover{
    color: rgb(244, 248, 9);
    font-size: 25px;
    transition: 0.3s;
}
.barraPesquisa{
    margin-right: 05px;
    width: 20em;
}
.filme{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    justify-content: center;
    width: 100%;
}
.fotofilme{
    border: solid black 10px;
    flex-basis: 220px;
}

footer{
    background-color: black;
    height: 100px;
    margin-top: 15px;
}
.container4 .iconeRodape{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.iconImg{
    padding: 0 25px;
}
.textoRodape{
    color: rgb(0, 38, 255);
    display: flex;
    justify-content: center;
    padding-top: 15px ;
}

/*parte mobile*/


@media (max-width: 976px) {
.cabecalho .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: auto;
}
.tituloCabecalho{
    text-align: center;
    width: 100%;
}
.navegacaoCabecalho{
    display: flex;
    flex-direction: column;
    text-align: center;
}
}